Repository dragon-loop/DragonLoop, changes with the labels that .github/labeler.yml gives for each.
All labels: Mobile, Android, iOS, API, Models, Web, ViewModels, docker, nginx, meta, actions

Fixed typo in deploy
  .github/workflows/build_and_deploy.yml
Labels: actions

aaahhhh goddd pls fix
  docker-compose.override.yml
  docker-compose.yml
  nginx/nginx.conf
  stack.yml
Labels: docker, nginx

Add notifications page + minor cleanup
  DragonLoopAPI/Controllers/NotificationController.cs
  DragonLoopAPI/DragonLoopAPI.csproj
  DragonLoopAPI/DragonLoopContext.cs
  DragonLoopApp/DragonLoopApp/DragonLoopApp.csproj
  DragonLoopApp/DragonLoopApp/Models/HomeMenuItem.cs
  DragonLoopApp/DragonLoopApp/ViewModels/NextToArriveViewModel.cs
  DragonLoopApp/DragonLoopApp/ViewModels/NotificationsViewModel.cs
  DragonLoopApp/DragonLoopApp/Views/MainPage.xaml.cs
  DragonLoopApp/DragonLoopApp/Views/MapPage.xaml
  DragonLoopApp/DragonLoopApp/Views/MapPage.xaml.cs
  DragonLoopApp/DragonLoopApp/Views/MenuPage.xaml.cs
  DragonLoopApp/DragonLoopApp/Views/NextToArrive.xaml.cs
  DragonLoopApp/DragonLoopApp/Views/NotificationsPage.xaml
  DragonLoopApp/DragonLoopApp/Views/NotificationsPage.xaml.cs
  DragonLoopApp/DragonLoopApp/Views/SchedulesPage.xaml.cs
  DragonLoopModels/DragonLoopModels.projitems
  DragonLoopModels/Notification.cs
  DragonLoopViewModels/DragonLoopViewModels.projitems
  DragonLoopViewModels/Services/BusService.cs
  DragonLoopViewModels/Services/NotificationService.cs
  DragonLoopViewModels/Services/RequestProvider.cs
  DragonLoopViewModels/Services/RouteService.cs
  DragonLoopViewModels/Services/StopService.cs
  DragonLoopViewModels/ViewModels/MapViewModel.cs
  DragonLoopViewModels/ViewModels/NextToArriveViewModel.cs
  DragonLoopViewModels/ViewModels/NotificationsViewModel.cs
  DragonLoopViewModels/ViewModels/ScheduleViewModel.cs
Labels: Mobile, API, Models, ViewModels

Clean up warnings
  DragonLoopViewModels/ViewModels/NextToArriveViewModel.cs
Labels: ViewModels

IOs pins quick fix
  .github/workflows/build_and_deploy.yml
  DragonLoopApp/DragonLoopApp.Android/Properties/AndroidManifest.xml
  DragonLoopApp/DragonLoopApp/MapElements/CustomMap.cs
  DragonLoopApp/DragonLoopApp/ViewModels/MapViewModel.cs
Labels: Mobile, Android, actions

Added telegram notification to deploy action
  .github/workflows/build_and_deploy.yml
Labels: actions

Adding Select
  DragonLoopAPI/Startup.cs
  DragonLoopWeb/Pages/Map.razor
  DragonLoopWeb/Pages/Schedules.razor
  DragonLoopWeb/Properties/launchSettings.json
Labels: API, Web

Allow users to change routes for schedules (Web)
  DragonLoopWeb/Pages/Schedules.razor
Labels: Web

Add page and slider for bus
  DragonLoopAPI/Controllers/BusController.cs
  DragonLoopAPI/Startup.cs
  DragonLoopAdmin/DragonLoopAdmin.csproj
  DragonLoopAdmin/Pages/Admin.razor
  DragonLoopAdmin/wwwroot/index.html
  DragonLoopViewModels/DragonLoopViewModels.projitems
  DragonLoopViewModels/ViewModels/AdminViewModel.cs
  DragonLoopWeb/Properties/launchSettings.json
Labels: API, Web, ViewModels

Added Notifications Page (Web)
  DragonLoopWeb/Pages/Notifications.razor
  DragonLoopWeb/Shared/NavMenu.razor
Labels: Web

.github/labeler.yml:

Mobile:
  - DragonLoopApp/**/*
Android:
  - DragonLoopApp/DragonLoopApp.Android/**/*
iOS:
  - DragonLoopApp/DragonLoopApp.iOS/**/*
API:
  - DragonLoopAPI/**/*
Models:
  - DragonLoopModels/**/*
Web:
  - DragonLoopWeb/**/*
ViewModels:
  - DragonLoopViewModels/**/*
docker:
  - docker-compose*
  - stack.yml
  - .dockerignore
  - "**/Dockerfile"
nginx:
  - nginx/**/*
meta:
  - "**/.gitignore"
  - .editorconfig
  - README.md
actions:
  - .github/**/*
